<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.magicleap.capi.sample.depth_camera"
          android:versionCode="1"
          android:versionName="1.0">

  <!-- This .apk has no Java code itself, so set hasCode to false. -->
  <application
      android:allowBackup="false"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:hasCode="true">

    <!-- Our activity is the built-in NativeActivity framework class.
         This will take care of integrating with our NDK code. -->
    <activity android:name="android.app.NativeActivity"
              android:label="@string/app_name"
              android:configChanges="orientation|keyboardHidden"
              android:launchMode="singleTask"
              android:exported="true">
      <!-- Tell NativeActivity the name of our .so -->
      <meta-data android:name="com.magicleap.augmented_reality_only" android:value="true" />
      <meta-data android:name="android.app.lib_name"
                 android:value="depth_camera" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <uses-native-library android:name="libinput.magicleap.so" />
    <uses-native-library android:name="libgraphics.magicleap.so" />
    <uses-native-library android:name="libperception.magicleap.so" />
  </application>

 <uses-permission android:name="com.magicleap.permission.DEPTH_CAMERA" />

  <uses-feature android:name="com.magicleap.api_level" android:version="29" />
</manifest>
<!-- END_INCLUDE(manifest) -->
